<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Resale Price Predictor</title>

    <link rel="stylesheet" type='text/css' href="/static/css/style.css">
</head>

<body>

    <div>
        <form action="{{ url_for('predict')}}" method="post">
            <h2>Price Prediction</h2>
            <h3>Year</h3>
            <input class="input" name="Year" type="number">
            <h3>What is the Showroom Price? (In lacs)</h3>
            <input class="input" name="Present_Price" required>
            <h3>How many Kilometers driven?</h3>
            <input class="input" name="Kms_Driven" required>
            <h3>How many owners previously owned the car (0/1/2/3) ?</h3>
            <input class="input" name="Owner" required>
            <h3>What is the Fuel type?</h3>
            <select name="Fuel_Type_Petrol" id="fuel" required>
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
                <option value="CNG">CNG</option>
            </select>
            <h3>Are you a Dealer or an Individual?</h3>
            <select name="Seller_Type_Individual" id="seltype" required>
                <option value="Dealer">Dealer</option>
                <option value="Individual">Individual</option>
            </select>
            <h3>Transmission type</h3>
            <select name="Transmission_Manual" id="transmission" required>
                <option value="Manual">Manual Car</option>
                <option value="Automatic">Automatic Car</option>
            </select>
        </form>
        
        <button id="sub" type="submit">Calculate the Selling Price</button>

        <h3>{{ prediction_text }}<h3>
    </div>

</body>

</html>